# Mac OS X files 
.DS_Store

# History files
.Rhistory

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R development files
.Rbuildignore

# Riaz data (not make it public)
data/Riaz_data.rda

# Model optimization parameters (heavy data file)
R/sysdata.rda

# Description of example Riaz data (not make it public)
R/allData_riaz.R

